/* マップとグラフの高さ調整 */
#map {
  height: 250px;
  width: 100%;
  border-radius: 10px;
}
#chart {
  height: 250px;
  width: 100%;
}
body {
  margin-bottom: 60px; /* フッターメニュー分の余白 */
}

.leaflet-bar.leaflet-bar-horizontal.leaflet-bar-timecontrol.leaflet-control {
  display: flex;
}
.leaflet-control-timecontrol.timecontrol-date {
  display: none;
}
.leaflet-control-timecontrol.timecontrol-slider.timecontrol-speed {
  display: none;
}
